[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "VeccTMVN"]
	path = VeccTMVN
	url = https://github.com/jcatwood/vecctmvn
[submodule "nntmvn"]
	path = nntmvn
	url = https://github.com/jcatwood/nntmvn
